:host {
  display: contents;

  .wrapper {
    display: flex;
    height: 100%;
    align-items: center;

    & > .ant-row {
      width: 100%;

      .login-form-margin {
        margin-bottom: 16px;
      }

      .login-form-forgot {
        float: right;
      }

      .login-form-button {
        width: 100%;
      }
    }
  }
}
