<clr-datagrid [clrDgLoading]="isLoading">
  <clr-dg-action-bar>
    <button class="btn btn-sm">Add User</button>
  </clr-dg-action-bar>

  <clr-dg-column>Id</clr-dg-column>
  <clr-dg-column>Name</clr-dg-column>

  <clr-dg-row *clrDgItems="let item of items" [clrDgItem]="item">
    <clr-dg-action-overflow>
      <button class="action-item" (click)="edit(item)">Edit</button>
      <button class="action-item" (click)="remove(item.id)">Delete</button>
    </clr-dg-action-overflow>

    <clr-dg-cell>{{ item.id }}</clr-dg-cell>
    <clr-dg-cell>{{ item.userName }}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgTotalItems]="total" [clrDgPageSize]="quantity" [clrDgPage]="page">
      <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]">Rows per page</clr-dg-page-size>
      {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of {{ pagination.totalItems }} rows
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>