<div class="login-wrapper">
  <form class="login" (ngSubmit)="login()">
      <section class="title">
          <h3 class="welcome">Welcome to</h3>
          Identity Admin
      </section>
      <div class="login-group">
          <clr-input-container>
              <label class="clr-sr-only">Username</label>
              <input type="text" name="username" clrInput placeholder="Username" [(ngModel)]="userName"/>
          </clr-input-container>
          <clr-password-container>
              <label class="clr-sr-only">Password</label>
              <input type="password" name="password" clrPassword placeholder="Password" [(ngModel)]="password"/>
          </clr-password-container>
          <clr-checkbox-wrapper>
              <label>Remember me</label>
              <input type="checkbox" name="rememberMe" clrCheckbox [(ngModel)]="rememberMe"/>
          </clr-checkbox-wrapper>
          <div class="error active" *ngIf="loginError">
              Invalid user name or password
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="isLoading">Sign in</button>
      </div>
  </form>
</div>