<nz-layout>
  <nz-content>
    <form nz-form nzLayout="vertical" [formGroup]="form">
      <nz-space nzDirection="vertical">
        <nz-card *nzSpaceItem nzTitle="General">
          <nz-form-item>
            <nz-form-label nzRequired>Username</nz-form-label>
            <nz-form-control nzErrorTip="Please input your first name!">
              <input type="text" nz-input formControlName="username" placeholder="UserName" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired>First Name</nz-form-label>
            <nz-form-control nzErrorTip="Please input your first name!">
              <input type="text" nz-input formControlName="firstName" placeholder="First Name" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired>Last Name</nz-form-label>
            <nz-form-control nzErrorTip="Please input your last name!">
              <input type="text" nz-input formControlName="lastName" placeholder="Last Name" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired>Email</nz-form-label>
            <nz-form-control nzErrorTip="Please input your Email!">
              <input type="text" nz-input formControlName="email" placeholder="Email" />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item formGroupName="role">
            <nz-form-label nzRequired>Role</nz-form-label>
            <nz-form-control>
              <nz-select formControlName="roleId">
                <ng-container *ngFor="let o of rolesList">
                  <nz-option *ngIf="!isLoading" [nzValue]="o.roleId" [nzLabel]="o.title"></nz-option>
                </ng-container>
                <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
                  <i nz-icon nzType="loading" class="loading-icon"></i> Loading Data...
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </nz-card>
      </nz-space>

    </form>
  </nz-content>
  <nz-footer>
    <nz-space nzDirection="horizontal">
      <button *nzSpaceItem nz-button nzType="primary" (click)="save()">Save</button>
      <button *nzSpaceItem nz-button nzType="secondary" (click)="back()">Cancel</button>
    </nz-space>
  </nz-footer>
</nz-layout>
