:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  max-height: 100%;

  .layout-body {
    flex: 1 1;
    border: 1px solid;
    display: flex;
    overflow: hidden;

    .wrapper-content {
      display: flex;
      flex: 1;
      flex-direction: column;
      padding: 10px;
      overflow: auto;
    }
  }
}