<button nz-button>Add User</button>

<nz-table #table [nzFrontPagination]="false" [nzShowPagination]="false" nzTableLayout="fixed" [nzData]="items">
  <thead>
    <tr>
      <th>Name</th>
      <th nzWidth="200px">Role</th>
      <th nzWidth="150px">Last Logged In</th>
      <th nzWidth="150px">Created</th>
      <th nzWidth="50px"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of table.data">
      <td>
        {{ row.username }}
      </td>
      <td>
        {{ row.role?.title }}
      </td>
      <td>
        {{ row.lastLoginDate | date }}
      </td>
      <td>
        {{ row.auditData?.createDate | date }}
      </td>
      <td></td>
    </tr>
  </tbody>
</nz-table>
