<div class="card">
  <div class="dismiss">
    <button [disabled]="isLoading" type="button" class="modal-close" (click)="cancel()">
      <ux-icon name="close"></ux-icon>
    </button>
  </div>

  <div class="card-header">
    <h4>Муниципалитет: {{ model.name }}</h4>
  </div>
  <div class="card-body">
    <div class="form-group">
      <label>Название</label>
      <input class="form-control" [(ngModel)]="model.name" />
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-primary" (click)="ok()">Сохранить</button>
    <button class="btn btn-default" (click)="cancel()">Отмена</button>
  </div>

  <app-loading *ngIf="isLoading"></app-loading>
</div>